.pageFive {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  h2 {
    color: #404d5b;
    margin: 15px 0;
  }
  span {
    text-align: center;
    color: #404d5b;
    margin-bottom: 10px;
  }
  .pageFive__items {
    display: flex;
    width: 90%;
    justify-content: space-between;
    .items {
      border: 2px solid white;
      box-shadow: 15px 15px 15px #edece7;
      img {
        width: 350px;
      }
      max-width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
